<footer id="footer">
    <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
    <ul class="social-icons">
      <li><a href="https://twitter.com/mixxorz" target="_blank">{% include social-icons/twitter.svg %}</a></li>
      <li><a href="https://instagram.com/mixxorz" target="_blank">{% include social-icons/instagram.svg %}</a></li>
      <li><a href="https://github.com/mixxorz" target="_blank">{% include social-icons/github.svg %}</a></li>
      <li><a href="https://dribbble.com/mixxorz" target="_blank">{% include social-icons/dribbble.svg %}</a></li>
    </ul>
</footer>
